html{
    background: #000000;
}

body{
    color: white;
    font-family: "Poppins",sans-serif;
    margin: 50px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
}

.left{
    float: left;
}

.right{
    float: right;
}

.card{
    margin-left: 10px;
    width: 45%;
    padding: 20px;
    border: 1px solid lightcyan;
}

h1{
    color: #FF6500;
}

h2{
    color: goldenrod;
}

h3{
    text-align: center;
}

p{
    font-size: 1.2rem;
    font-weight: 500;
}

.description{
    color: rgb(109, 98, 35);
}

.poster{
    border: 5px solid grey;
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;

}

h1, h2, p{
    margin-left: 10px;
}