body {
    font-family: "Consolas";
    overflow-x: hidden;
    margin-top: 0px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Courier New', Courier, monospace,serif;
}

a{
    outline: none;
    text-decoration: none;
    color: whitesmoke;
}

.cywreck{
    padding-left: 1175px;
}

.thala{
    font-size: 20px;
    color: whitesmoke;
    padding-left: 300px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;    
    width: 100%;
    margin: 0px;
    display:     flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:40px;
    background-color:  rgb(17, 17, 17);
}


/* Style for the card layout */
.card {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 680px;
    width: 800px;
    background-color: rgb(29, 31, 32);
    border-radius: 4%;
    align-items: center;
}

textarea{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: rgb(29, 31, 32);
    border: none;
    width: 87%;
    height: 87%;
    resize: none;
    outline: none;
}

.output-container{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: rgb(29, 31, 32);
    border: none;
    width: 87%;
    height: 87%;
    resize: none;
    outline: none;

}

/* Container style */
.container {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    align-items: center;

}

button {
    margin-top: 20px;
    width: 85%;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    font-stretch: ultra-expanded;
    height: 50px;
}

button:hover {
    background-color: #218838;
}


/* Style for the output area */